<div *ngIf="movie">
    <div class="container-fluid"
    style="background-image: url({{movie.backdrop_path}}); height: 100vh; background-repeat: no-repeat;
    background-size: cover;">
        <div class="row" style="backdrop-filter: blur(8px); height: 100vh; padding-top: 10px; background-color: rgba(0, 0, 0, 0.4)">
            <div class="col-md-4">
                <img class="img-fluid" src="{{movie.poster_path}}" style="border: 3px solid black;">
            </div>
            <div class="col-md-8">
                <h1><b>{{movie.title}}</b></h1>
                <p *ngIf="movie.releaseDate"><b><i class="bi-calendar"></i> Release Date:</b> {{releaseDate | date: 'fullDate' }}</p>
                <p *ngIf="movie.original_language"><b><i class="bi-globe"></i> Original Language:</b> {{movie.original_language}}</p>

                <span>
                    <i *ngFor="let star of stars" class="{{star.class}}"></i>
                    ({{movie.vote_count.toLocaleString()}} votes)
                </span>

                <p *ngIf="movie.overview">{{movie.overview}}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!movie">Loading...</div>